<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coinNum_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,47}</string>
                <key>spriteSourceSize</key>
                <string>{38,49}</string>
                <key>textureRect</key>
                <string>{{42,1},{38,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinNum_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,49}</string>
                <key>textureRect</key>
                <string>{{355,1},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinNum_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{38,49}</string>
                <key>textureRect</key>
                <string>{{161,1},{36,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinNum_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{199,1},{36,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinNum_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,45}</string>
                <key>spriteSourceSize</key>
                <string>{38,49}</string>
                <key>textureRect</key>
                <string>{{237,1},{38,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinNum_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,49}</string>
                <key>textureRect</key>
                <string>{{277,1},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinNum_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,49}</string>
                <key>textureRect</key>
                <string>{{122,1},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinNum_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,49}</string>
                <key>textureRect</key>
                <string>{{316,1},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinNum_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{39,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinNum_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,47}</string>
                <key>spriteSourceSize</key>
                <string>{38,49}</string>
                <key>textureRect</key>
                <string>{{82,1},{38,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinNum_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{384,1},{35,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>number_golden.png</string>
            <key>size</key>
            <string>{420,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04f5308804b0408e1769f14bb346c874:93ae1a6ef80c176f1faac4b13934ed1c:4d4be7ff406aeca048034282cbd7d10e$</string>
            <key>textureFileName</key>
            <string>number_golden.png</string>
        </dict>
    </dict>
</plist>
